body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
}
.game img {
  width: 70px;
  height: 70px;
}
